header
    .container.pt-3
        .row
            .col-10
                h1.display-1 MyClothes
            if currentRoute.substr(0,3) === "men"
              .col-1.mt-4
                form.mt-3(action=`/men`, method='get')
                    button.btn.btn-dark(type='submit')
                      | Men
              .col-1.mt-4
                form.mt-3(action=`/women`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Women
            else if currentRoute.substr(0,5) === "women"
              .col-1.mt-4
                form.mt-3(action=`/men`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Men
              .col-1.mt-4
                form.mt-3(action=`/women`, method='get')
                    button.btn.btn-dark(type='submit')
                      | Women
            else
              .col-1.mt-4
                form.mt-3(action=`/men`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Men
              .col-1.mt-4
                form.mt-3(action=`/women`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Women
        .row
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                .container-fluid
                    a.navbar-brand(href='/') #{gender}
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                      span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                      ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        each navbarCategory in navbarCategories 
                          li.nav-item
                            a.nav-link(href=`#${navbarCategory.name}`) #{navbarCategory.name}
                      form.d-flex
                          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                          button.btn.btn-outline-success(type='submit') Search
        .row.mt-2
            if breadcrumbs
                nav(aria-label='breadcrumb')
                    ol(class="breadcrumb")
                      each crumb, index in breadcrumbs
                          if index == breadcrumbs.length - 1
                              li(class='breadcrumb-item active' aria-current='page') #{crumb.name}
                          else
                              li(class='breadcrumb-item') #[a(href=crumb.url) #{crumb.name}]