header
    .container.pt-3
        // top right men women buttons
        .row
            .col-10
                h1.display-1
                  a(href="/" style="color:black; text-decoration:none;") MyClothes
            if gender === "Men"
              .col-2.mt-4
                .btn-group(role='group' aria-label='Basic example')
                  form.mt-3(action=`/men`, method='get')
                    button.btn.btn-dark(type='submit')
                      | Men
                  form.mt-3(action=`/Women`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Women
            else if gender === "Women"
              .col-2.mt-4
                .btn-group(role='group' aria-label='Basic example')
                  form.mt-3(action=`/men`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Men
                  form.mt-3(action=`/Women`, method='get')
                    button.btn.btn-dark(type='submit')
                      | Women
            else
              .col-2.mt-4
                .btn-group(role='group' aria-label='Basic example')
                  form.mt-3(action=`/men`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Men
                  form.mt-3(action=`/Women`, method='get')
                    button.btn.btn-outline-dark(type='submit')
                      | Women
        // navbar
        .row
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                .container-fluid
                    a.navbar-brand(href=`/${gender}`) #{gender}
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                      span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                      ul.navbar-nav.me-auto.mb-2.mb-lg-0
                        each navbarCategory,index in categories
                          li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(role='button' data-bs-toggle='dropdown' aria-expanded='false') #{navbarCategory.name}
                            ul.dropdown-menu(aria-labelledby='navbarDropdown')
                              each subcategory in subcategories[index]
                                li
                                  a.dropdown-item(href=`/${gender}/${subcategory.id}`)=subcategory.name
                      form.d-flex.mb-2.mb-lg-0
                        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                        button.btn.btn-outline-success(type='submit') Search
                      // right side sign up and sign up
                      if !currentUser
                        include authorization.pug
                      else
                        div.mx-3
                          a.btn-btn-dark(href="/logout" style="color:black; text-decoration:none;") Logout
                          a(href="/profile") 
                            img.avatar.img-circle.hidden-xs-down(src="/static/images/profile/user.png" style="color:black; text-decoration:none;")
                      
        // breadcrumbs
        .row.mt-2
            if breadcrumbs
                nav(aria-label='breadcrumb')
                    ol(class="breadcrumb")
                      each crumb, index in breadcrumbs
                        if crumb
                          if index == breadcrumbs.length - 1
                              li(class='breadcrumb-item active' aria-current='page') #{crumb.name}
                          else
                              li(class='breadcrumb-item') #[a(href=crumb.url) #{crumb.name}]