extends layout.pug

block content
    body
        .container.border.rounded
            .row.text-center
                h1 Profile
            .row
                p Name:  #{user.name}
                br
                p Email: #{user.email}
                br
                - let registerationDate = user.createdAt.split(".")[0];
                - registerationDate = registerationDate.replace("T", " ");
                p Registeration Date: #{registerationDate}
            
                .row.justify-content-center
                    .col-1
                        if(cartError)
                            button.btn.position-relative(type='submit' form="form1" disabled="")
                                img(src="/static/images/profile/shopping-cart.png" alt="Shopping cart icon")
                                span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger 0
                                    span.visually-hidden items in the shopping cart
                        else
                            form#form1(action='/cart' method='get')
                                button.btn.position-relative(type='submit' form="form1")
                                    img(src="/static/images/profile/shopping-cart.png" alt="Shopping cart icon")
                                    span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{yo}
                                        span.visually-hidden items in the shopping cart
                    .col-1
                        if(wishlistError)
                            button.btn.position-relative(type='submit' form="form1" disabled="")
                                img(src="/static/images/profile/list.png" alt="Wishlist icon")
                                span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger 0
                                    span.visually-hidden items in the wishlist
                        else
                            form#form2(action='/wishlist' method='get')
                                button.btn.position-relative(type='submit' form="form2")
                                    img(src="/static/images/profile/list.png" alt="Wishlist icon")
                                    span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{yo}
                                        span.visually-hidden items in the wishlist